<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/gmail.css">
		<title>Gmail</title>
	</head>
	<body>
		<div class="container-fluid">
			<nav "navbar navbar-default navbar-fixed-top">
				<div class ="row topbar">
					<div class ="col-sm-2"><img src="/google-logo_360.png" class="gimage">
					</div>
					<div class="col-sm-7">
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default searchicon" type="button"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<ul class="list-inline" id="nav-bar">
							<li><a href=""><p class="topswag">+Will</p></a></li>
							<li>
								<li><a href=""><span class="glyphicon glyphicon-th topswag"></span></a></li>
								<li><a href=""><span class="glyphicon glyphicon-bell topswag"></span></a></li>
								<a href=""><img src="https://lh3.googleusercontent.com/-sG98Sk_x3Ww/AAAAAAAAAAI/AAAAAAAAAD0/cK8lPKAbyEk/s120-c/photo.jpg"class="will"></li></a>
						</ul>
					</div>
				</div>
			</nav>
			<div class="row navbar-two">
				<div class="col-sm-3"><h4>Gmail</h4>
				</div>
				<div class="col-sm-6">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle left-b" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-unchecked"></span><span class="caret"></span><span class="email"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="">All</a></li>
							<li><a href="">None</a></li>
							<li><a href="">Read</a></li>
							<li><a href="">Unread</a></li>
						</ul>
						<button type="button" class="btn btn-default middle-b"><span class="glyphicon glyphicon-repeat"></span></button>
						<button type="button" class="btn btn-default dropdown-toggle right-b"data-toggle="dropdown" aria-expanded="true"><strong>More<span class="caret"></span></strong></span></button>
						
					</div>
				</div>
				<div class="col-sm-3">
					
				</div>
			</div>
			  <div class="row">
			  	<div class="col-sm-2">
			  		<button type="button" class="compose">Compose</button>
			  	<ul class="list-unstyled lists">
			  		<li><a href=""><p class="inbox"><strong>Inbox (7,123)</strong></p></a></li>
			  		<li><a href=""><p>Starred</p></a></li>
			  		<li><a href=""><p>Important</p></a></li>
			  		<li><a href=""><p>Sent Mail</p></a></li>
			  		<li><a href=""><p><strong>Draft (13)</strong></p></a></li>
			  		<li><a href=""><p>Circles</p></a></li>
			  	</ul>
			  	</div>
			  	  <div class="col-sm-10">
			  	  	<ul class="list-unstyled">
			  	  		<li class="row emails email-1">
			  	  			<div class="col-sm-1"><input type="checkbox" class="checkedboxes"></div>
			  	  			<div class="col-sm-2"><strong>Uncle Sam</strong></div>
			  	  			<div class="col-sm-8">The United States Army wants you as a meat shield, hurry and apply now</div>
							<div class="col-sm-1"><strong>9:37 am</strong></div>

			  	  		</li>
			  	  		<li class="row emails">
			  	  			<div class="col-sm-1"><input type="checkbox" class="checkedboxes"></div>
			  	  			<div class="col-sm-2"><strong>Mike Jones</strong></div>
			  	  			<div class="col-sm-8">281-330-8004 this mike jones up on the low</div>
							<div class="col-sm-1"><strong>4:37 am</strong></div>

			  	  		</li>
			  	  		<li class="row emails">
			  	  			<div class="col-sm-1"><input type="checkbox" class="checkedboxes"></div>
			  	  			<div class="col-sm-2"><strong>Department of Motor Vehicles</strong></div>
			  	  			<div class="col-sm-8">We are revoking your license after we have you on camera driving the Suge Knight.</div>
							<div class="col-sm-1"><strong>Apr 1</strong></div>

			  	  		</li>

			  	  		<li class="row emails">
			  	  			<div class="col-sm-1"><input type="checkbox" class="checkedboxes"></div>
			  	  			<div class="col-sm-2"><strong>Food Network</strong></div>
			  	  			<div class="col-sm-8">We are hosting our third annual eat as much as you can festival. Come hungry or kill yourself.</div>
							<div class="col-sm-1"><strong>Mar 30</strong></div>

			  	  		</li>
			  	  		<li class="row emails">
			  	  			<div class="col-sm-1"><input type="checkbox" class="checkedboxes"></div>
			  	  			<div class="col-sm-2"><strong>Coderbyte</strong></div>
			  	  			<div class="col-sm-8">New website for writing AI game bots to compete against other bots.</div>
							<div class="col-sm-1"><strong>Mar 29</strong></div>

			  	  		</li>
			  	  		<li class="row emails">
			  	  			<div class="col-sm-1"><input type="checkbox" class="checkedboxes"></div>
			  	  			<div class="col-sm-2"><strong>Twitch</strong></div>
			  	  			<div class="col-sm-8">itshafu just went live on Twitch.</div>
							<div class="col-sm-1"><strong>Mar 28</strong></div>

			  	  		</li>
			  	  	</ul>
			  	  </div>
			  </div>
		</div>
		<script src="//code.jquery.com/jquery-2.1.1.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/google.js"></script>
	</body>
</html>